/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignorar caché de compiladores e IDEs
.DS_Store
.AppleDouble
.LSOverride

# Ignorar configuraciones de IDE adicionales
.project

# Ignorar archivos de caché y logs generados por Laravel
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

/storage/framework/*
!/storage/framework/.gitignore

# Ignorar archivos de Docker (si se utilizan)
docker-compose.override.yml
